[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biocompute"]
	path = biocompute
	url = https://github.com/sbg/biocompute
[submodule "sevenbridges"]
	path = sevenbridges
	url = https://github.com/sbg/sevenbridges-r
[submodule "tidycwl"]
	path = tidycwl
	url = https://github.com/sbg/tidycwl
